# SQL Server Connection
DB_SERVER=localhost
DB_INSTANCE=SQLEXPRESS
DB_DATABASE=SupportTicketDB
DB_USER=sa
DB_PASSWORD=your_password_here
DB_PORT=1433

# Set to true for Windows Authentication, false for SQL Server Authentication
DB_WINDOWS_AUTH=false

# JWT
JWT_SECRET=change_this_to_a_long_random_secret_string
JWT_EXPIRES_IN=24h

# Server
PORT=3000
